<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
        <title>Cobra Kai - Relação de Clientes</title>
        <meta name="description" content="Cobra Kai - Novo Adm" />
    </head>

    <body>
        <div class="LogoContainer">
            <img src="/assets/CobraKailogo.png" alt="Cobra Kai Logo">
        </div>

        <div class="NumberOfCustomers" id="NumberOfCustomers">
        </div>
        
        <button type="button" class="cancelBt" onclick='window.location.href = "/menu"'>Voltar ao menu</button>
        
        <script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-firestore.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-functions.js"></script>

        <script src="/scripts.js"></script>

        <script>
            auth.onAuthStateChanged(user =>{
                if(!user){
                    window.location.href = "/" 
                }
            })
        </script>

        <script>
            window.onload = financialStatements();
        </script>

    </body>

</html>