@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --color-black: #171717;
    --color-yellowlogo: #FEDB00;
    --color-redlogo: #E40300;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #171717;
    width: 1200px;
}

.LogoContainer {
    display: block;
    text-align: center;
    margin-top: 40px;
}

.PageTitle{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: white;
    font-weight: 700;
    line-height: 42px;
    color: var(--color-yellowlogo);
    margin-top: 40px;
    margin-left: 20px;
}

.addBg{
    background-image: url('/assets/CobraKai035.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 1200px;
}

/* -------------- LOGIN -------------- */

.LoginSection {
    text-align: center;
    margin-top: 70px;
}

.LoginInput input {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    margin-top: 10px;
    width: 500px;
    height: 40px;
    padding-left: 10px;
    border-radius: 20px;
}

/* -------------- BUTTON -------------- */
button[type="button"] {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    margin-top: 20px;
    background-color: var(--color-yellowlogo);
    width: 300px;
    height: 40px;
    border-radius: 20px;
}

.MenuButtons {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 40px;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
}

.cancelBt{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    margin-top: 20px;
    width: 503px;
    height: 40px;
    border-radius: 20px;
}

.botbt{
    margin-top: 40px;
    margin-bottom: 20px;
    display: grid;
    justify-content: center;
}


/* -------------- DISPLAYS TO SET ON MENU -------------- */
.admin {
    display: none;
}

.secretary {
    display: none;
}

/* -------------- FORMS -------------- */
.FormSection {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 20px;
    margin-left: 20px;
    /* background-image: url('/assets/CobraKai035.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 1200px; */
}

.FormInput input{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    margin-top: 10px;
    width: 500px;
    height: 40px;
    padding-left: 10px;
    border-radius: 20px;
}

.FormInput h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: var(--color-yellowlogo);
    text-align: left;
    margin-top: 20px;
}

/* =============== Check students =============== */
.searchInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 70px;
}

.searchInput input{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    margin-top: 10px;
    width: 500px;
    height: 40px;
    padding-left: 10px;
    border-radius: 20px;
}

.content {
    margin-top: 40px;
    background-image: url('/assets/CobraKai035.png');
    background-repeat: no-repeat;
    background-position: center;
}

.content div{
    margin-top: 32px;
    margin-left: 20px;
}

.content h2{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: var(--color-yellowlogo);
}

.content p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #212121;
    margin-top: 10px;
    width: 490px;
    height: 30;
    padding-left: 10px;
    padding-top: 5px;
    border-radius: 20px;
    background-color: white;
}

#studentForm{
    display: grid;
    grid-template-columns: auto auto; 
    padding-bottom: 40px;
}




/* -------------- FINANCIAL -------------- */
.NumberOfCustomers{
    display: grid;
    grid-template-columns: auto auto;
    font-family: 'Roboto', sans-serif;
    color: var(--color-yellowlogo);
    margin-top: 20px;
    margin-left: 20px;
    background-image: url('/assets/CobraKai035.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 1200px;
}

.NumberOfCustomers h2{
    color: var(--color-yellowlogo);
    margin-top: 24px;
}

.NumberOfCustomers p{
    font-size: 18px;
    line-height: 21px;
    color: #212121;
    margin-top: 10px;
    width: 490px;
    height: 30;
    padding-left: 10px;
    padding-top: 5px;
    border-radius: 20px;
    background-color: white;
}